{% extends "base.html" %} {% block content %} {% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %} {% if messagebad %}
<div class="alert alert-danger">
    {{messagebad}}
</div>
{% endif %}
<link href="{{base_path}}/assets/css/slider.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Shadows+Into+Light|Wallpoet"
    rel="stylesheet">
    
<div class="offset-div">
    <div class="offset-background d-block"></div>
    <div class="offset-container d-block">
        <div class="offset-top"></div>
        <div class="counter-div d-block">
            <div class="mb-0 d-inline-block">
                    <b>
                <p class="d-inline" id="offset-counter"></p>
            </b>
                <h4 class="d-inline counter-flavor"><b>Tons</b></h4>
                <h4 class="counter-text mt-0 mb-2 d-block"><b>of Carbon Dioxide Offset</b></h4>
            </div>
        </div>
        <div class="offset-white d-block pt-5">
            <div class="offset-content">
                <div class="offset-header">
                    <h1 class="mb-2 mt-5">Offset your life. </h1>
                    <h2 id="fadein-text" class="text-muted text-small d-inline-block mt-0 ml-5 mb-2">&nbsp;</h2>
                </div>
                <div class="offset-text-container">
                    <p class="offset-text d-inline mb-4">
                        Carbon dioxide emissions are the leading cause of global warming. As little as <b>5 euros</b> a month
                        is enough to compensate for the average of <b>1000kg</b> of monthly emissions you create living your
                        daily life. <em>Being able to say you are 100% carbon neutral couldn't
                be easier than this.</em>
                    </p>
                    <div class="text-center d-block">
                        <div class="d-block mt-5">
                            <div class="col-xs-10 col-xs-offset-1">
                                <input id="range-slider" type="range" min="1" max="50" step="1" value="5">
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="d-inline-block">
                                <span class="h1" id="amount-label">
                                    <span class="pricing__euro">€</span>
                                </span>
                            </div>
                            <div class="d-inline-block">
                                <p id="value-flavor">asdf</p>
                            </div>
                        </div>
                    </div>
                    <div class="offset-button mt-3">
                        <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                    Subscribe with Stripe
                </button>
                    </div>
                    <div class="collapse offset-border" id="collapseExample">
                        <form class="offset-form">
                            <div class="row">
                                <div class="col mr-1">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col ml-1">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
<script src="{{base_path}}/vendor/components/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/rangeslider.js/2.3.0/rangeslider.min.js"></script>
<script src="{{base_path}}/assets/js/countUp.js"></script>
<script>
    var numAnim = new CountUp("offset-counter", 0, 18594);
    if (!numAnim.error) {
        numAnim.start();
    } else {
        console.error(numAnim.error);
    }

</script>
<script>
    $(document).ready(function () {
        $("#fadein-text").text("Know you have made a difference.").hide().fadeIn(5000);

        var $element = $('input[type="range"]');
        var $handle;
        var array = {
            5: "lol",
            4: "lmao"
        };

        $element.rangeslider({
            polyfill: false,
            onInit: function () {
                $handle = $('.rangeslider__handle', this.$range);
                updateHandle($handle[0], this.value);
                $("#amount-label").html(this.value + '<span class="pricing__euro">€</span>');
                $("#value-flavor").html(array[this.value]);
            }
        }).on('input', function () {
            updateHandle($handle[0], this.value);
            $("#amount-label").html(this.value + '<span class="pricing__euro">€</span>');
            $("#value-flavor").html(array[this.value]);
        });

        function updateHandle(el) {
        }
        $('input[type="range"]').rangeslider();
    });

</script>
{% endblock %}