{% extends "base.html" %} {% block content %}
<link href="{{base_path}}/assets/css/slider.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Shadows+Into+Light|Wallpoet"
    rel="stylesheet">

<div class="offset-div">
    <div class="offset-layer-group">
        <div class="offset-background"></div>
        <div class="offset-container" id="height-set">
            <div class="offset-top"></div>
            <div class="counter-div d-block">
                <div class="mb-0 d-inline-block">
                    <b>
                <p class="d-inline" id="offset-counter"></p>
            </b>
                    <h4 class="d-inline counter-flavor"><b>Tons</b></h4>
                    <h4 class="counter-text mt-0 mb-2 d-block"><b>of Carbon Dioxide Offset</b></h4>
                </div>
            </div>
            <div class="offset-white d-block pt-5">
                <div class="offset-content">
                    <div class="offset-header">
                        <h1 class="mb-2 mt-5">Offset your life. </h1>
                        <h2 id="fadein-text" class="text-muted text-small d-inline-block mt-0 ml-lg-5 mb-2 pl-3">&nbsp;</h2>
                    </div>
                    <div class="offset-text-container pl-4 pr-4 pb-5 mb-5 text-justify">
                        <p class="offset-text d-inline mb-4">
                            Carbon dioxide emissions are the leading cause of global warming. As little as <span class="d-inline-block"><b class"d-inline-block">5 euros</b></span>                            a month is enough to compensate for the average of <b>1000kg</b> of monthly emissions you create
                            living your daily life. <em>Being able to say you are 100% carbon neutral couldn't
                        be easier than this.</em>
                        </p>
                    </div>
                    <div class="text-center d-block">
                        <h1 class="mt-5 pt-5 pb-3">Choose your donation</h1>
                        <div class="d-block mt-4 ml-3 mr-3">
                            <div class="col-xs-10 col-xs-offset-1">
                                <input id="range-slider" type="range" min="1" max="50" step="1" value="5">
                            </div>
                        </div>
                        <div class="argh m-auto">
                            <div class="row slider-values mt-4 pl-0 pr-0 mb-5 justify-content-sm-between justify-content-around">
                                <div class="col slider-mini pt-4 mr-1">
                                    <p class="value-title mb-2"><em>The price of:</em></p>
                                    <span class="h1 text-right" style="line-height:0.3;">
                                    <span class="text-small value-month"  id="value-flavor"></span>
                                    </span>
                                </div>
                                <div class="col slider-mini mt-1">
                                    <span class="h1 text-right full-price float-right pt-4" id="amount-label">5€
                                    <span class="text-small text-muted value-month">/month</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="offset-button mt-5 text-center">
                        <form action="{{base_path}}/offset/complete" method="post">
                            <input id="demo-spaghetti" class="d-none" type="text" name="amount" value="lol"></input>
                            <input type="image" value="Submit" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypalcheckout-60px.png"
                                alt="PayPal Checkout" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
<script src="{{base_path}}/vendor/components/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/rangeslider.js/2.3.0/rangeslider.min.js"></script>
<script src="{{base_path}}/assets/js/countUp.js"></script>
<script>
    var carbon = {{ carbon }};
    var numAnim = new CountUp("offset-counter", 0, carbon);
    if (!numAnim.error) {
        numAnim.start();
    } else {
        console.error(numAnim.error);
    }

</script>
<script>
    $(document).ready(function () {
        $("#fadein-text").text("Know you have made a difference.").hide().fadeIn(5000);

        // For slider and flavor text under it
        var $element = $('input[type="range"]');
        var $handle;
        var flavor_array = {
            1: "a cup of coffee",
            2: "a bottle of soda",
            3: "a bag of cashew nuts",
            4: "a medium sized burger",
            5: "a straight-to-dvd movie",
            6: "a pair of flip-flops",
            7: "one of those romance paperbacks",
            10: "a movie ticket",
            15: "a bad pair of earphones",
            20: "a lunch for two",
            25: "a longer than average taxi trip",
            30: "4 milligrams of diamonds",
            40: "a very big bag of tomatoes",
            50: "a video game",
            100: "a night of bar-hopping"
        };
        var timer = null;
        var index = 5;

        // Fixing the background height
        $(".offset-background").height($(".offset-container").prop('scrollHeight'));
        setInterval(function () {
            $(".offset-background").height($(".offset-container").prop('scrollHeight'));
        }, 1000);

        $element.rangeslider({
            polyfill: false,
            onInit: function () {
                $handle = $('.rangeslider__handle', this.$range);
                updateHandle($handle[0], this.value);
                $("#amount-label").html(this.value + "€" + '<span class="text-small text-muted value-month">/month</span>');
                $("#value-flavor").html(flavor_array[this.value]);
                $("#demo-spaghetti").val(this.value);
            }
        }).on('input', function () {
            updateHandle($handle[0], this.value);
            index = this.value;
            $("#amount-label").html(this.value + "€" + '<span class="text-small text-muted value-month">/month</span>');
            $("#demo-spaghetti").val(this.value);
            clearTimeout(timer);
            timer = setTimeout(
                function () {
                    $("#value-flavor").html(function () {
                        var prev = 1;
                        for (i in flavor_array) {
                            var n = parseInt(i);
                            if (index == n) {
                                return flavor_array[n];
                            } else if (index < n) {
                                if ((index - prev) < (n - index)) {
                                    return flavor_array[prev];
                                } else {
                                    return flavor_array[n];
                                }
                            } else {
                                prev = n;
                            }
                        }
                    });
                }, 700);
        })

        function updateHandle(el) {
        }
        $('input[type="range"]').rangeslider();
    });

</script>
{% endblock %}