#main-container{
	max-width: 12rm;
	padding: 0px 25px 10px 25px;
	margin: 0px auto;
}

body {
	font-family: 'Roboto Slab', serif;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 3rem;
	color: #5a5a5a;
	font-size:calc(14px);
}

.nav-bar {
	font-size: 18px;
}

.bg-white {
	color: #FFFFFF;
}

.deco-none {
	color: black;
	text-decoration: inherit;
}

.offset-container {
	margin: 10rem auto;
	font-size: calc(13px + 0.1em);
	display: flex;
	justify-content: center;
	max-width: 65rem;
}

.offset-button {
	margin: auto auto;
	display: flex;
	justify-content: center;
}

.offset-border {
	margin: auto auto;
	justify-content: center;
	border-top: 1px solid #ECE6E6;
	border-bottom: 1px solid #ECE6E6;
	padding-top: 2em;
	padding-bottom: 2em;
}

.offset-form {
	margin: auto auto;
	justify-content: center;
	max-width: 30em;
}

#buttonDiv {
	background: #67d667;
	height: 96vh;
	margin-bottom: 1.7rem;
	overflow:hidden;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 0;
	margin-top: 0;
}

.lead-div {
	margin-bottom: 3em;
	margin-top: 34vh;
	font-size:calc(30px + 2.5vw);
}

.lead-caption {
	bottom: 3rem;
	margin-left: 2rem;
	margin-right: 2rem;
	font-family: 'Raleway', sans-serif;	
	font-style: bold;
	font-size:calc(26px + 2.0vw);
}

.span-color {
	color:black;
}

.lead-text {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 1.25rem;
	margin-left: 3rem;
	margin-right: 3rem;
	line-height: 1.2;
	font-size:40%;
}

.login-div {
	display: block;
	justify-content: center;
	max-width: 20rem;
	margin: 10rem auto;
}

.login-title {
	text-align: center;
	margin-bottom: 1.5em
}

.login-icon {
	width: 2.6em;
	justify-content: center;
}

.login-field {
	margin-bottom: 0.5em;
}

.login-button {
	margin-top: 1.5em;
	width: 100%;
}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}

.featurette-heading {
	font-size: 50px;
}
