#main-container{
	max-width: 12rm;
	padding: 0px 0px 10px 0px;
	margin: 0px auto;
	overflow: hidden;
}

body {
	font-family: 'Roboto Slab', serif;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 3rem;
	color: #5a5a5a;
	font-size:calc(14px);
}

.nav-bar {
	font-size: 18px;
	color: black;
}

.bg-white {
	color: #FFFFFF;
}

.deco-none {
	color: black;
	text-decoration: inherit;
}

.counter-div {
	margin: 7rem 0 0 0;
	background-image: url("../img/ice_top.jpg");
	color:white;
	text-align: center;
}

#offset-counter {
	font-size: 5rem;
	font-style: bold;
	margin: auto;
	display:inline;
	line-height: 100%;
	font-family: 'Roboto', sans-serif;
}

.counter-flavor {
	font-style: bold;
	font-size: 2rem;
}

.counter-text {
	font-size: 1.3rem;
	text-align: right;
}

.offset-container {
	margin: 4rem auto;
	font-size: calc(13px + 0.1em);
	display: flex;
	justify-content: center;
	max-width: 70rem;
}

.offset-header {
	text-align: left;
}

.offset-text-container {
	display: block;
	margin: auto auto;
	max-width: 56rem;
}

.offset-text {
	font-size: 150%;
}

.offset-button {
	margin: auto auto;
	display: flex;
	justify-content: center;
}

.offset-border {
	margin: auto auto;
	justify-content: center;
	border-top: 1px solid #ECE6E6;
	border-bottom: 1px solid #ECE6E6;
	padding-top: 2em;
	padding-bottom: 2em;
}

.offset-form {
	margin: auto auto;
	justify-content: center;
	max-width: 30em;
}

.ice-div {
	background-image: url("../img/ice_bot.jpg");
	padding-top: 70vh;
}

.button-div {
	height: 96vh;
	margin-bottom: 1.7rem;
	overflow:hidden;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 0;
	margin-top: 0;
}

.button-background-div {
	display: flex;
	overflow: hidden; 
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	max-height: 96vh;
}

.lead-div {
	margin-bottom: 3em;
	margin-top: 35vh;
	position: static;
	z-index: 1;
	font-size:calc(30px + 2.5vw);
}

.lead-caption {
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
	color: white;
	bottom: 3rem;
	margin-left: 2rem;
	margin-right: 2rem;
	font-family: 'Abril Fatface', cursive;
	font-style: bold;
	font-size:calc(26px + 2.0vw);
}

.span-color {
	color:black;
}

.lead-text {
	font-family: 'Roboto Slab', serif;
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
	color: white;
	margin-bottom: 1.25rem;
	margin-left: 3rem;
	margin-right: 3rem;
	line-height: 1.2;
	font-size:50%;
}

.button-img {
	width: calc(50px + 3.0vw);
	min-width: 8rem;
}

.login-div {
	display: block;
	justify-content: center;
	max-width: 20rem;
	margin: 10rem auto;
}

.login-title {
	text-align: center;
	margin-bottom: 1.5em
}

.login-icon {
	width: 2.6em;
	justify-content: center;
}

.login-field {
	margin-bottom: 0.5em;
}

.login-button {
	margin-top: 1.5em;
	width: 100%;
}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}

.featurette-heading {
	font-size: 50px;
}

