.rangeslider,
.rangeslider__fill {
  display: block;  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.rangeslider {
  background: #e6e6e6;
  max-width: 40rem;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;  
  position: relative;
  margin:auto;
}
.rangeslider--horizontal {
  height: 1.5em;
  width: 100%;
  box-shadow: 0 1px 5px #4D4A4A inset, 0 1px 0 #9E9090;  
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  background: #08D5EB;
  background: -webkit-linear-gradient(right, #176EE3 , #08D5EB);
  background: -o-linear-gradient(right, #000407, #08D5EB);
  background: -moz-linear-gradient(right, #000407, #08D5EB);
  background: linear-gradient(to right, #176EE3 , #08D5EB);
  border-radius: 10px;
  box-shadow: 0 1px 5px #4D4A4A inset, 0 1px 0 #9E9090;  
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider__handle {
  background: #FBFFFF;
  border: 2px solid #126091;
  color: #FFFFFF;  
  cursor: pointer;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 40px;
  position: absolute;    
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  line-height: 1.4em;
  padding: 0;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -20px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
