{% extends "base.html" %} {% block content %}

{% if error %}
<div class="alert alert-danger mt-5">
	{{error}}
</div>
{% endif %}

<div class="login-div">
	<h3 class="login-title">Log in or <a href="{{base_path}}/signup"> Sign up</a></h3>
	<form method="post" action="{{base_path}}/login">
		<div class="input-group login-field">
			<span class="input-group-addon login-icon"><i class="fa fa-envelope"></i></span>
			<input type="text" class="form-control" name="email" placeholder="email" value="{{email}}">
		</div>

		<div class="input-group login-field">
			<span class="input-group-addon login-icon"><i class="fa fa-lock"></i></span>
			<input type="password" class="form-control" name="password" placeholder="password">
		</div>
		<button type="submit" class="btn btn-primary login-button">Log in</button>
	</form>
</div>
{% endblock %}