{% extends "base.html" %} {% block content %}

<div class="text-center achievement-div">
	<h1 class="mt5">Newest achievements</h1>
	<div class="card-deck mt-5">
		{% for achievement in achievements %}
		<div class="card">
			<div class="card-header">
				<h3>{{achievement.name}}</h3>
			</div>
			<div class="image-container">
				<img class="card-img-top img-responsive img-thumbnail" style="max-height:75vh;" src="{{base_path}}/assets/img/achievement.png" alt="there should probably be a picture here">
			</div>
			<div class="card-block">
				<h5 class="card-text m-2 ml-3"><em>{{achievement.description}}</em></h5>
				<div class="card-footer">
					<p class="card-text m-3"><small class="text-muted">{{achievement.time_achieved}}</small></p>
					<div class="a2a_kit a2a_default_style">
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
						<a class="a2a_button_google_plus"></a>
						<a class="a2a_button_pinterest"></a>
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
					</div>
				</div>
			</div>
			</div>
		{% endfor %}
	</div>
</div>

<div id="fb-root"></div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
{% endblock %}