{% extends "base.html" %} {% block content %}

<div class="overflow-div">
{% if offset %}
	<div class="login-offset text-center">
		<h1>Congratulations, you have offset!</h1>
		<h4>You can view your certificates and achievements in your user profile.</h4>
  </div>
{% else %}
<div class="login-offset-margin"></div>
{% endif %}

<div class="login-div">
  <h3 class="login-title">Sign up or <a href="{{base_path}}/login"> Log in</a></h3>
  <form method="post" action="{{base_path}}/signup">

    <div class="input-group login-field">
      <span class="input-group-addon login-icon"><i class="fa fa-envelope"></i></span>
      <input type="text" class="form-control" name="first_name" placeholder="First Name">
    </div>
    <div class="input-group login-field">
      <span class="input-group-addon login-icon"><i class="fa fa-envelope"></i></span>
      <input type="text" class="form-control" name="last_name" placeholder="Last Name">
    </div>
    <div class="input-group login-field">
      <span class="input-group-addon login-icon"><i class="fa fa-envelope"></i></span>
      <input type="text" class="form-control" name="email" placeholder="email" value="{{email}}">
    </div>

    <div class="input-group login-field">
      <span class="input-group-addon login-icon"><i class="fa fa-lock"></i></span>
      <input type="password" class="form-control" name="password" placeholder="password">
    </div>

    <div class="input-group login-field">
      <span class="input-group-addon login-icon"><i class="fa fa-lock"></i></span>
      <input type="password" class="form-control" name="password2" placeholder="password again">
    </div>
    {% if errors %}
    <div class="error-wrap mt-2 mb-2">
        <div class="alert alert-danger d-block text-center pb-0 mb-0">
        <ul class="text-left">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
        </ul>
    </div>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary login-button">Sign up</button>
  </form>
</div>
</div>
{% endblock %}
