<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png">
  <link rel="manifest" href="../../manifest.json">
  <link rel="mask-icon" href="../../safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <title>
    {% block title %} Button {% endblock %}
  </title>

  {% block head %}
  <link href="{{base_path}}/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{base_path}}/vendor/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Slab:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link href="{{base_path}}/assets/css/site.css" rel="stylesheet"> {% endblock %}
</head>

<body mb-0 pb-0>
  {% block navbar %}
  <nav class="navbar navbar-expand-md navbar-light fixed-top md-0 nav-bar-light">
    <a class="navbar-brand" href="{{base_path}}/offset"><img class="button-logo" src="{{base_path}}/assets/img/button_inverted_logo.svg"></a>    
  {% endblock %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{base_path}}/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{base_path}}/offset">Offset</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        {% if account_logged_in %}
        <li class="nav-item mr-3"><a class="nav-link navbar-deco" href="{{base_path}}/user/profile"><span class="fa fa-user"></span> {{account_logged_in.email}}</a></li>
        <li class="nav-item mr-3"><a class="nav-link navbar-deco" href="{{base_path}}/logout" class="deco-none"><span class="fa fa-sign-out"></span> Log out</a></li>
        {% else %}
        <li class="nav-item mr-3"><a class="nav-link navbar-deco" href="{{base_path}}/signup" class="deco-none"><span class="fa fa-user"></span> Register  </a></li>
        <li class="nav-item mr-3"><a class="nav-link navbar-deco" href="{{base_path}}/login" class="deco-none"><span class="fa fa-sign-in"></span> Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div id="main-container" class="mb-0 pb-0">
    {% block content %}{% endblock %}
  </div>

  {% block body %}
  <script src="{{base_path}}/assets/js/popper.min.js"></script>
  <script src="{{base_path}}/assets/js/bootstrap.min.js"></script>
  {% endblock %}
</body>

</html>