{% extends "base.html" %} {% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top md-0 nav-bar-dark">
		<a class="navbar-brand" href="{{base_path}}/offset"><img class="button-logo" src="{{base_path}}/assets/img/button_inverted_logo_inverted.svg"></a>  
	{% endblock %} {% block content %}

	<div class="button-div">
		<div class="button-layer-group">
			<div class="button-background-div">
			</div>
			<div class="lead-div d-block">
				<div class="all-text">
					<div class="lead-caption-div">
						<h1 class="lead-caption-top d-block ml-2">Global Warming</h1>
					</div>
					<div class="fade-text-container">
						<div class="fade-text-container-inner">
							<h1 id="fade-text" class="lead-caption pl-2 d-block">Kills 300.000 People This Year</h1>
						</div>
					</div>
					<p class="lead-text"><b>You can stop that by pushing the Button.</b></p>
				</div>
				<div class="button-img-div d-inline-block">
					<a href="{{base_path}}/offset">
				<img class="button-img" src="{{base_path}}/assets/img/button_inverted.svg"></img>
			</a>
				</div>
			</div>
		</div>

		<div class="whitespace-group">
			<div class="whitespace-background-div">
			</div>
		</div>



		<div class="information-group">
			<div class="information-background-div">
			</div>
			<div class="information-div">
				<div class="row featurette">
					<div class="col-md-7 information-bit text-justify">
						<span class="information-highlight"><h2 class="featurette-heading mt-2">Global Warming. <span class="featurette-heading-off">Inevitable.</span></h2>
						</span>
						<span class="information-highlight"><p class="information-lead">Carbon dioxide (CO2) is the leading cause of global warming, and the excessive CO2 cloud is at least 800 000 million tonnes in size. Annually we add over 15 000 million tonnes of CO2 emissions to that cloud.</p>
						<p class="information-lead">We are living our lives being aware that our planet is not doing well. Most of us wish there would be an easy way to create a green handprint for the future generations. Best impact is gained from restoring the carbon sinks (such as mangrove forests), and adapting cleantech -certified work aligned with the UN global development goals.</p></span>
					</div>
				</div>

				<div class="featurette-divider">

				<div class="row featurette justify-content-end text-justify">
					<div class="col-md-7 information-bit">
						<span class="information-highlight"><h2 class="featurette-heading mt-2">How do we stop it? <span class="featurette-heading-off">Just push the Button.</span></h2>
						</span>
						<span class="information-highlight"><p class="information-lead">Restoring the damaged ecosystems holds estimated potential of over 3 000 000 million tonnes of CO2, which is 3 times more than the accumulated excessive CO2 in the atmosphere.</p></span>
					</div>
				</div>

				<div class="featurette-divider">

				<div class="row featurette">
					<div class="col-md-7 information-bit text-justify">
							<span class="information-highlight"><h2 class="featurette-heading mt-2">Transparent and secure. <span class="featurette-heading-off">Certified.</span></h2></span>
							<span class="information-highlight"><p class="information-lead">Communities in Indonesia are replanting mangrove forests. For each certified CO2 ton they receive a 10€ donation, and this money is used to save at least another ton of CO2. This is a growing loop of continuous development.</p>			
								<p class="information-lead">Guaranteed impact per 10€ donation:
								<ul class="information-lead">
									<li>1 ton CO2 (Replanting 0.02-0.2 ha of forest)</li>
									<li>$30 economic benefit, mainly to the local community</li>
								</ul></p></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
	<script src="{{base_path}}/vendor/components/jquery/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			var heading_array = [
				"Kills 300.000 People This Year",
				"Will Make 150.000 Species Go Extinct By 2050",
				"Causes Global Flooding to Triple By 2030",
				"Is Making the Sea Levels Rise at the Fastest Rate in 2000 Years",
			];
			var selector = 0;
			var text_fader;

			$(".information-background-div").height($(".information-div").prop('scrollHeight'));
			setInterval(function () {
				$(".information-background-div").height($(".information-div").prop('scrollHeight'));
			}, 1000);
			var $activeText = $("#fade-text");
			$(function startFader() {
				text_fader = setInterval(function () {
					if( $activeText.queue('fx').length == 0 ) {
						selector++;
						if (selector == heading_array.length) {
							selector = 0;
						}
						$('#fade-text').fadeOut(2000);
						setTimeout(
							function () {
								$('#fade-text').addClass("invisible");
								$('#fade-text').text(heading_array[selector]);
								$('#fade-text').removeClass("invisible");
								$('#fade-text').fadeIn(1000);
							}, 1900);
					}
				}, 6000);
			});
			function stopFader() {
				window.clearInterval(text_fader);
			}
			window.addEventListener('focus', startFader);
			window.addEventListener('blur', stopFader);
		});
	</script>
	{% endblock %}