{% extends "base.html" %} {% block content %} {% if message %}
<div class="alert alert-success">
	{{message}}
</div>
{% endif %} {% if messagebad %}
<div class="alert alert-danger">
	{{messagebad}}
</div>
{% endif %}

<div class="button-div">
	<div class="button-background-div d-block parallax parallax-back">
	</div>
	<div class="lead-div d-block parallax parallax-front">
		<div class="all-text">
			<div class="lead-caption-div">
				<h1 class="lead-caption-top d-block">Global Warming</h1>
			</div>
			<div class="fade-text-container">
				<div class="fade-text-container-inner">
					<h1 id="fade-text" class="lead-caption pl-2 d-block">Kills 300.000 People This Year</h1>
				</div>
			</div>
			<p class="lead-text mb-5"><b>You can stop that with a few clicks and some pocket change.</b></p>
		</div>
		<p>
			<a href="{{base_path}}/offset">
				<img class="button-img" src="{{base_path}}/assets/img/button.png"></img>
			</a>
		</p>
	</div>







	<div class="d-none parallax parallax-front">
		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
					cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
					cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
					cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog login-modal-content" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
						...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Register</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- START THE FEATURETTES -->



<!-- /END THE FEATURETTES -->


<!-- FOOTER -->
<footer>
	<p class="float-right"><a href="#">Back to top</a></p>
	<p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</div>
<!-- /.container -->
<script src="{{base_path}}/vendor/components/jquery/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		var heading_array = [
			"Kills 300.000 People This Year",
			"Will Make 150.000 Species Go Extinct By 2050",
			"Causes Global Flooding to Triple By 2030",
			"Is Making the Sea Levels Rise at the Fastest Rate in 2000 Years",
		];
		var selector = 0;
		var text_fader;
		$(function startFader() {
			text_fader = setInterval(function () {
				selector++;
				if (selector == heading_array.length) {
					selector = 0;
				}
				$('#fade-text').fadeOut(2000);
				setTimeout(
					function () {
						$('#fade-text').addClass("invisible");
						$('#fade-text').text(heading_array[selector]);
						$('#fade-text').removeClass("invisible");
						$('#fade-text').fadeIn(1000);
					}, 1900);
			}, 7000);
		});
		function stopFader() {
			window.clearInterval(text_fader);
		}
		window.addEventListener('focus', startFader);
		window.addEventListener('blur', stopFader);
	});

</script>
{% endblock %}