{% extends "base.html" %} {% block content %} {% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %} {% if messagebad %}
<div class="alert alert-danger">
    {{messagebad}}
</div>
{% endif %}
<div class="offset-container d-block mb-5">
    <h1 class="d-flex justify-content-center mb-3">Offset your life. <span class="text-muted text-small ml-3">Be the future.</span></h1>
    <p class="d-flex justify-content-center mb-4">
        Carbon dioxide emissions are the leading cause of global warming. On average, a person in a developed western country creates
        one ton of carbon dioxide each month. With us you can offset your emissions and become carbon neutral by only paying
        5 euros a month to charity.
    </p>
    <div class="offset-button">
        <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample">
        Subscribe with Stripe
    </button>
    </div>
    <div class="collapse offset-border" id="collapseExample">
        <form class="offset-form">
            <div class="row">
                <div class="col mr-1">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col ml-1">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="container marketing mt-0">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                width="140" height="140">
            <h2>Offset a flight</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
                ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                width="140" height="140">
            <h2>Offset a car trip</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
                consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                width="140" height="140">
            <h2>Offset a purchase</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
                euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                width="140" height="140">
            <h2>Offset anything you wish</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
                euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div>
<!-- /.container -->

{% endblock %}